html{
  --color1: #007A78;
  --color3: #5ca9fb;
  --color2: #000202;
}
#about {
    position: relative;
    padding: 100px 0;
    background: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 
.divider
{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 0;
    line-height: 0;
}
.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 68px;
    transform: rotate(180deg);
}
.divider .shape-fill {
    fill: #FFFFFF;
}
.about .row {
  background-color: #001E40;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 50%;
  padding: 30px;
  width: 100%;
  margin: 10px;
}
  
  #about h3 {
    font-size: 22px;
    margin: 0 0 20px;
  }
  #about h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #about h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
  }
  #about .about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
  }
  #about .about-text li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #5ca9fb;
    font-size: 11px;
    font-weight: 300;
    padding-right: 8px;
  }
  
  #about p {
    line-height: 24px;
    margin: 30px 0;
  }