@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.team {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
.slt {
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slt h1 {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 64px;
}
.slt span {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}
.types {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 200px;
}
.types h3 {
  font-size: 32px;
  font-family: "Outfit", sans-serif;
  padding: 0 10px 0 10px;
}
.types h3:hover {
  background-color: #001e40;
  color: #ffff;
}
.members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.mem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px; /* Ensures a minimum width */
}
.mem h3 {
  font-size: 32px;
  text-align: center;
}
.mem p {
  font-size: 24px;
  color: #007a78;
  text-align: center;
}
.mem img {
  margin-top: 30px;
  width: 100%;
  min-width: 200px; /* Ensures a minimum width */
  height: 220px; /* or any fixed height you want */
  object-fit: contain; /* or 'contain' if you want the whole image visible */
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .team {
    flex-direction: column;
  }
  .slt {
    width: 90%;
  }
  .types {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .types h3 {
    font-size: 24px;
  }
  .members {
    flex-direction: column;
    align-items: center;
  }
  .mem {
    width: 100%;
    max-width: 300px; /* Ensures a maximum width */
  }
  
}