@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.team
{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slt
{
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slt h1
{
    font-family: "Outfit", sans-serif;
    font-size: 64px;
}
.slt span
{
    font-family: "Outfit", sans-serif;
    font-weight: 200;
}
.types
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.types h3
{
    font-size: 32px;
    font-family: "Outfit", sans-serif;
    padding: 0 10px 0 10px;
}
.types h3:hover
{
    background-color: #001E40;
    color: #ffff;
}
.members
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.mem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mem h3
{
    font-size: 32px;
}
.mem p
{
    font-size: 24px;
    color: #007A78;
}
.mem img
{
    margin-top: 30px;
    /* width: 200px; */
    width: 100%;
    border-radius: 50%;
}
