.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:#000F2A;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
    height: 60px;
    width: auto;
}
.navbar .logo {
    height: 100%;
    padding: 5px 10px 0 10px;
    border-radius: 3rem;
}
.navbar .menu-icon {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
}

.navbar .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 4px 0;
    transition: 0.4s;
}

.navbar .nav-links {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
    margin-right: 40px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    .navbar .menu-icon {
        display: flex; 
    }

    .navbar .nav-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #000f2ac2;
        position: absolute;
        z-index: 1000;
        top: 90px; 
        padding: 10px 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .navbar .nav-links.active {
        display: flex; 
    }

    .navbar .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}
/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  /* background-color: red; */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000F2A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}